*{
    background-color: black; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
div{
background-color: black;
color: #FFCC00;

flex-direction: column;

flex-wrap: nowrap;
}
button{
    color: black;
    background-color:orange;
    border-color: darkgoldenrod;
    font-size: xx-large;
    flex-direction: row;
    flex-wrap: nowrap;
}
.resetScore{
    flex-direction: column;
}